body {
  overflow-x: hidden;
  background-color: rgb(6, 33, 83);
  color: var(--font);
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(41, 14, 160);
}

code.hljs {
  background-color: var(--background-secondary);
}

.user-avatar {
  max-width: 36px;
}

.navbar {
  color: rgb(41, 14, 160);
}

.table {
  color: rgb(41, 14, 160);
}

.dropdown-menu {
  background-color: inherit;
}

