<%- include("partials/header", { bot, user, path, title: "Select server" }) %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% bot.commands.forEach(guild => {

  %>

    <div class="card" style="max-width: 18rem; margin: 2rem; min-width: 10em; background-color: rgb(14, 24, 160);">
      <div class="card-body">
        <h5 class="card-title"><%= guild.name %></h5>

      </div>
    </div>
  <%
      });
  %>
</div>

<%- include("partials/footer") %>
