<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="/general.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </label>
      <nav id="sidebar">
        <div class="title">Side Menu</div>
        <ul class="list-items">
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="general"><i class="fas fa-th-large"></i>General</a></li>
          <li><a href="moderation"><i class="fas fa-book"></i>Moderation</a></li>
          <li><a href="logging"><i class="fas fa-print"></i>Logging</a></li>
          <li><a href="#"><i class="fas fa-gift"></i>Giveaways (Soon)</a></li>
          <li><a href="#"><i class="fas fa-sticky-note"></i>Applications (Soon)</a></li>
          <li><a href="#"><i class="fas fa-box"></i>Embeds (Soon)</a></li>
          <li><a href="#"><i class="fas fa-level-up-alt"></i>Levels (Soon)</a></li>

        </ul>
      </nav>
    </div>
    <div class="content">
       <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Settings</h4>
                  <p class="card-category">Edit Logging Settings</p>
                </div>
                <div class="card-body">
                   <form method="POST">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Join Message</label>
                          <input type="text" class="form-control" name="joinmsg" value="<%= settings.joinmsg %>" placeholder="Your Guild's Join Message.">

                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                         <label class="bmd-label-floating">Join Channel</label>
                          <input type="text" class="form-control" name="joinchannel" value="<%= settings.joinchannel %>" placeholder="Your Guild's Join Channel">

                        </div>
                      </div>
    </div>
  </body>
</html>
