<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Dismic's Dashboard</h2>
    <p>An easy way to manage our bot in your guild!</p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-warning" href="/support">Support Server</a>
  </div>
</div>

<%- include("partials/footer") %>