doctype
html(lang='en')
  head
    include partials/header.pug

    link(rel='stylesheet', href='/css/index.css')
  body
    include partials/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 Dismic
      p.lead idk what do add here, soon -- bungfro
        i.fas.fa-star.pl-2
      a.btn.btn-dark(href='/invite') Add
