<!DOCTYPE html>

<head>

<!--      CSS       -->

<link href="main.css" rel="stylesheet">

<!--      META       -->

<title>Dismic Dashboard</title>

<meta charset="utf-8">
<meta name="description" content="A discord bot with fun, moderation and utilities commands.">
<meta name="keywords" content="capital club, diwas atreya, diwas team, atreya">
<meta name="author" content="Diwas">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Swinger Bot">
<meta property="og:description" content="A discord bot with fun, moderation and utilities commands.">
<meta property="og:url" content="https://discord.gg/gU7XAxTpX5">

</head>


<nav id="nav">

<div id="navtext-div">

<a href="/dashboard" id="navtext">Dashboard</a>

<a id="navtext">Home</a>

<a href="/commands" id="navtext">Commands</a>

</div>

</nav>





<body>

<img id="logo-main-1" src="img/logo.jpg">

<p id="botname-main-1">Dismic</p>


<div id="main-buttons">

<a href="#intro"><button id="main-button-1">Know More</button></a>


</div>

<div style="margin:50px 0 50px 0;"></div>


<div id="main-info">

<br id="intro">

<p id="main-info-1">
 This bot was made by our developers Team Dismic.</p>



</div>
<!--                       WEBSITE BY Romeo#0700-->

<div id="main-buttons" style="margin-top: 200px;">


</div>

<div id="main-buttons-2" style="margin-top: 30px">



</div>

</body>


<footer>

<p id="footer-copyright">2021 All rights reserved.</p>


</footer>

<script src="js/script.js"></script>